/* Movil */
@media only screen and (min-width: 350px) {
    .carta, .reves, .frontal {
        height: 150px;
        width: 108px;
    }
}

/* Tablet */
@media only screen and (min-width: 700px) {
    .carta, .reves, .frontal {
        height: 250px;
        width: 180px;
    }
}

/* PC */
@media only screen and (min-width: 1000px) {
    .carta, .reves, .frontal {
        height: 300px;
        width: 215px;
    }
}
