#manga1 {
    position: absolute;
    left: 0;
    top: 0;
    transition: 2s;
}

#manga1:hover {
    transform: scale(2,2);
}

#manga2 {
    position: absolute;
    left: 0;
    top: 180px;
    transition: 2s;
}

#manga2:hover {
    opacity: 0;
}

#manga3 {
    position: absolute;
    left: 320px;
    top: 50px;
    transition: transform 2s, opacity 3s 3s, filter 1s 4s;
}

#manga3:hover {
    transform: translateX(100%);
    opacity: 0.2;
    filter: invert(100%);
  }

#manga4 {
    position: absolute;
    left: 480px;
    top: 50px;
    transition: 2s;
    transform-origin: top right;
}

#manga4:hover {
    transform: scale(0);
}

#manga5 {
    position: relative;
    transition: 3s;
}

#manga6 {
    position: relative;
    transition: 3s;
}

#manga5-6 {
    position: relative;
    left: 60px;
    top: 338px;
    width: 360px;
    height: 330px;
}

#manga5-6:hover #manga5 {
    rotate: 180deg;
}

#manga5-6:hover #manga6 {
    transform: scale(1.2, 1.2);
}

#manga7 {
    position: absolute;
    left: 420px;
    top: 347px;
}

#manga8 {
    position: absolute;
    left: 60px;
    top: 700px;
}