header {
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav ul {
    list-style: none;
    display: flex;
}

header {
    padding: 0;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.miniContainer {
    width: 302px;
}

#otherImages {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 960px;
}
